@model IEnumerable<WebAppFinalProj.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h3>Instructors Management</h3>

@using (Html.BeginForm())
{
    <div>
        Find by first name: @Html.TextBox("FirstName")
        <br />
        Find by last name: @Html.TextBox("LastName")
        <br />
        Find by instructor number: @Html.TextBox("InstructorId")
        <br />
        <input type="submit" value="Search" />
        <br />
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstructorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorId })
        </td>
    </tr>
}

</table>
