@model IEnumerable<WebAppFinalProj.Models.Course>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakeItUp - Beauty Academy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header id="logo"> </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Our Courses", "Index", "Courses")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    <section class="intro-container">
        <div id="intro">
            <h2>Ever dreamed to be the best?</h2>
            <p>
                MakeItUp - Beauty Academy presents new makeup and beauty classes.
                Join us and recieve the best education in the makeup industry
                with a promise for a successful career!
            </p>
        </div>
        <div id="popup">
            <img src="~/Content/Images/popup_arrow.png" alt="Arrow" id="popup-arrow" />
            <img src="~/Content/Images/coupon.png" alt="coupon" id="popup-coupon" />
        </div>
    </section>
    <div id="content">
        <div id="main-content">
            @RenderBody()
            <hr />      
        </div> 
        <aside>
            <section>
                <header>
                    <h3>Upcoming Courses:</h3>
                </header>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Sit amet consectetur</a></li>
                    <li><a href="#">Adipisicing elit sed</a></li>
                </ul>
            </section>
        </aside>
    </div>
    <footer>
        <p>&copy; Liel Cohen & Shani Avnaim - @DateTime.Now.Year</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
