@using WebAppFinalProj.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Admin Page";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Student management: @Html.ActionLink("Details","Index","Students")  | @Html.ActionLink("Register student", "Create", "Students")</li>
            <li>Instructor management: @Html.ActionLink("Details", "Index", "Instructors")  | @Html.ActionLink("Register instructor", "Create", "Instructors")</li>
            <li>Course management: @Html.ActionLink("Details", "Index", "Courses")  | @Html.ActionLink("Add new course", "Create", "Courses")</li>
        </ul>
    </div>
</div>

<div>
    @foreach (var item in (List<WebAppFinalProj.Models.NumOfStudents>)ViewBag.NumOfStudents)
    {
        <div data-catid="@item.CourId">
            @Html.DisplayFor(nos => item.CourId)
            <span class="count">(@Html.DisplayFor(nos => item.))</span>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
