@using WebAppFinalProj.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Admin Page";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Student management: @Html.ActionLink("Details","Index","Students")  | @Html.ActionLink("Register student", "Create", "Students")</li>
            <li>Instructor management: @Html.ActionLink("Details", "Index", "Instructors")  | @Html.ActionLink("Register instructor", "Create", "Instructors")</li>
            <li>Course management: @Html.ActionLink("Details", "Index", "Courses")  | @Html.ActionLink("Add new course", "Create", "Courses")</li>
        </ul>
    </div>
</div>
<br />
<div>
    <div id="course-students">
        <h2>Course population</h2>
        @foreach (var item in (List<WebAppFinalProj.Models.CoursesList>)ViewBag.StudentsInCourses)
        {
            <div>
                <b>Course Name:</b> @Html.DisplayFor(cl => item.CourName) <b>Number of attendants:</b> @Html.DisplayFor(cl => item.Count)
</div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
