@model IEnumerable<WebAppFinalProj.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Our Courses</h2>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.section').hide();
        $('h3').click(function () {
            $(this).toggleClass("open");
            $(this).next().toggle();
        }); //end toggle

        $('#expandall').click(function () {
            $('.section').show();
            $('h3').addClass("open");
        });

        $('#collapseall').click(function () {
            $('.section').hide();
            $('h3').removeClass("open");
        });

    });

    function toggleDiv(id1) {
        var tag = document.getElementById(id1).style;

        if (tag.display == "none") {
            tag.display = "block";
        } else {
            tag.display = "none";
        }
    }

    $(function () {
        var date = $('#StartDate').datepicker({ dateFormat: 'dd-MM-yyyy' }).val();
        return date;
    })
</script>

    @using (Html.BeginForm())
    {
        <div>
            Find by course name: @Html.TextBox("Name")
            <br />
            Find by start date: @Html.TextBox("StartDate", "", new { @class = "datepicker", @id = "StartDate" })
            <br />
            Find by instructor: @Html.TextBox("InstructorName")
            <br />
            <input type="submit" value="Search" />
            <br />
        </div>
    }

    <button id="expandall">Expand All</button>
    <button id="collapseall">Collapse All</button>

    @foreach (var item in Model)
    {
        <div class="title" onclick="javascript:toggleDiv('@item.CourseId');">
            <h3><a>@Html.DisplayFor(model => item.Name)</a></h3>
        </div>
        <div id="@item.CourseId" class="section">
            @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(model => item.StartDate)
            <br />
            @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(model => item.EndDate)
            <br />
            @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => item.Description)
            <br />
            @Html.DisplayFor(model => item.Address)
            <br />
        </div>
    }

    <br />

    <div id="map_canvas" style="width:750px;height:350px"></div>

    <section class="scripts">
        <script type="text/javascript">
            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {
                google.maps.visualRefresh = true;

                var MainOffice = new google.maps.LatLng(32.166870, 34.811686);
                var mapOptions = {
                    zoom: 9,
                    center: MainOffice,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                @foreach (var item in Model) {
                    <text>

                var latLng = new google.maps.LatLng("@item.X", "@item.Y");

                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    draggable: false
                });
                marker.setMap(map);
                </text>
                }
            }
        </script>
    </section>
