@model IEnumerable<WebAppFinalProj.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Our Courses</h2>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
    function toggleLink(divId) {
        $("#" + divId).toggle();
    }
</script>

    @foreach (var item in Model) {

    <a href="javascript:toggleLink('@item.CourseId');">@Html.DisplayFor(model => item.Name)</a>
        <br />
    <div id="@item.CourseId">
        @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(model => item.StartDate)
        <br />
        @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(model => item.EndDate)
        <br />
        @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => item.Description)
        <br />
        @Html.DisplayFor(model => item.Address)
        <br />
    </div>
    }